@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.bodyTestPage {
  max-width: 1440px;
  min-width: 400px;
  width: 100%;
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b7485;
}

.headerTestPage {
  height: 108px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;

}

.image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: gray;
}
