nav {
  /* background-color: transparent; */
  box-shadow: none;
  background-image: url('./user.jpg');
}
.sidenav {
  padding-top: 20px;
}

/*background-image: url('https://cs5.pikabu.ru/post_img/big/2015/09/04/1/1441320970_1275609053.jpg');*/
