.calendar--content {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 440px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
}

.content--space > h1,
.content--log > h1 {
  margin: 0px;
  margin-left: 10px;
}

.content--space {
  padding-top: 10px;
  min-width: 280px;
  height: 400px;
  background-color: #cfd8dc;
}

.content--log {
  padding-top: 10px;
  width: 100%;
  height: 400px;
  margin-left: 20px;
  background-color: #cfd8dc;
}

.content--space > .DayPicker {
  margin: 0px 5%;
}

.content--space > .DayPicker-Day--before {
  position: relative;
  color: #f0f8ff;
  background-color: green !important;
  border-radius: 100%;
}

.log--logList {
  width: 100%;
  height: 312px;
  margin-top: 10px;
  padding-left: 10px;
  overflow-y: scroll;
}

.logList--items {
  display: flex;
  align-items: center;
}

.logList--items > input[type=text] {
  margin: 0 20px;
}

.logList--items > span {
  width: 70px;
}
