.calendar--content {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 360px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
}

.dayPicker--header > h1,
.log--header > h1 {
  margin: 0px;
  margin-left: 10px;
  font-size: 24px;
  align-items: center;
}

.content--dayPicker {
  padding: 20px;
  min-width: 280px;
  height: 320px;
  background-color: #cfd8dc;
}

.content--log {
  padding: 20px;
  width: 100%;
  height: 320px;
  margin-left: 20px;
  background-color: #cfd8dc;
}

.content--log .log--header, .log--header  {
  transition: transform 3s;
}

.content--dayPicker > .DayPicker {
  margin: 0px 5%;
}

.DayPicker-Week > .DayPicker-Day--before {
  position: relative;
  color: #f0f8ff;
  background-color: green !important;
  border-radius: 100%;
}

.log--logList {
  width: 100%;
  height: 254px;
  margin-top: 10px;
  padding-left: 10px;
  overflow-y: scroll;
}

.logList--items {
  display: flex;
  align-items: center;
}

.logList--items > input[type=text] {
  margin: 0 0 0 20px;
}

.logList--items > span {
  width: 70px;
}

.log--header {
  display: flex;
  justify-content: space-between;
}

.button--archiveLog {
border-radius: 50%;
width: 30px;
height: 30px;
border: 1px solid #b1b1b1;
}

.log--header > button:focus {
  outline: none;
  background-color:  #e0e0e0;
}
.log--header > button:active {
  outline: none;
  background-color:  #4a90e2;
  border: 1px solid #4a90e2;
}

.logList--items > .material-icons {
  margin-left: 28px;
}
