
.sidenav {
  padding-top: 20px;
}

.navBurger button {
  margin-left: 20px;
  padding: 0px;
}

.btn, .btn:hover, .btn:focus {
      background-color: transparent;
      box-shadow: none;

}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1.7em;
    line-height: inherit;
    padding: 0;
}
