.tasksList {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

.tasksList--tasksHeader {
  display: flex;
  justify-content: space-between;
}

.tasksList--tasksHeader > h1 {
  margin-top: 10px;
}
.tasksHeader--button {

}


.tasksHeader--button > button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  border: 0px solid white;
}

.tasksHeader--button > button:focus,
.newTask--addTask > .addTask--button
.checkBox--accordion:active > .addReTask--button {
  outline: none;
  background-color:  #e0e0e0;
  border: 0px solid white;
}

.tasksHeader--button > button:active {
  outline: none;
  background-color: #4a90e2;
}

.checkBox--square:not(:checked),
.checkBox--square:checked {
   position: relative;
   left: 0;
   opacity: 1;
   margin-right: 10px;
}

.tasksList--checkBox,
.tasksList--checkBox__arhiv {
  display: flex;
}

.tasksList--checkBox  [type="checkbox"]+label,
.tasksList--checkBox__arhiv  [type="checkbox"]+label  {
  position: unset;
  padding: 0 10px;
  font-weight: bolder;
  cursor: auto;
  height: auto;
}

.tasksList--checkBox  [type="checkbox"]+label:before,
.tasksList--checkBox  [type="checkbox"]:not(.filled-in)+label:after,
.tasksList--checkBox__arhiv  [type="checkbox"]+label:before,
.tasksList--checkBox__arhiv  [type="checkbox"]:not(.filled-in)+label:after
 {
  content: none;
}

.tasksList--checkBox--in {
  display: flex;
  align-items: center;
}
.newTask--addTask {
  margin-top: 30px;
      padding: 10px;
}

.newTask--addTask > input[type=text] {
  font-size: 14px;
  height: 36px;
}

.accordion {
  background-color: #cfd8dc;;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  text-align: left;
  margin-top: 4px;
}
.accordion:active {
  background-color: #a6c6e4;
}

.checkBox--accordion {
  padding: 0 18px;
  background-color: #f1f1f1;
  /* display: none; */
  opacity: 0;
  height: 0px;
  transition: transform 0.5s, opacity 0.1s, height 0.1s;
  /* overflow: hidden;
  position: absolute;
  visibility: hidden; */
  /* transition: visibility 1s cubic-bezier(0.22, 0.61, 0.36, 1) 1s ; */
}

.checkBox--accordion  .addTask--taskName,
.checkBox--accordion  .addTask--taskDescription,
.checkBox--accordion  .addReTask--button
 {
  opacity: 0;
  height: 0px;
  transition: transform 0.5s, opacity 0.1s, height 0.1s;
}

.checkBox--accordion__active {
  /* display: block; */
  padding: 0 18px;
  background-color: #f1f1f1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2e2e2;
  opacity: 1;
  overflow: hidden;
  height: 100%;
  transition: transform 2s, opacity 0.1s, height 0.1s, ease-out;
  /* transition: visibility 1s cubic-bezier(0.22, 0.61, 0.36, 1) 1s ; */
  /* visibility: visible; */
}

.checkBox--accordion__active  .addTask--taskName,
.checkBox--accordion__active  .addTask--taskDescription,
.checkBox--accordion__active  .addReTask--button {
  opacity: 1;
  overflow: hidden;
  /* height: 100%; */
  transition: transform 2s, opacity 0.1s, height 0.1s, ease-out;
}

label {
  font-size: 14px;
  color: inherit;
  font-weight: bold;
}

.tasksList--checkBox__arhiv {
  margin-bottom: 4px;
  background-color: #e6e6e6;
  align-items: center;
}

.tasksList--dataArchiveRender {
  margin: 10px 0;
  padding: 10px 6px;
}

.tasksList--checkBox__arhiv  .checkBox--square {
  margin-left: 10px;
}
.addTask--taskDescription {
  height: 100px;
}
.addTask--taskDescription:focus:not([readonly]) {
  background: none;
  border: none;
  box-shadow: none;
  resize: vertical;
}

.newTask--addTask > .addTask--button,
.checkBox--accordion__active > .addReTask--button {
  margin-top: 10px;
}
.newTask--addTask > .addTask--button:active,
.checkBox--accordion__active:active > .addReTask--button:active {
  background-color: #4a90e2;
}

.tasksList--rootOpenThisTask {
  /* transition: visibility 0s, opacity 0.5s linear; */
}
