.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #039be5
}

/* a {
  color: black;
} */
.header > .all-search {
  flex-grow: 1;
padding: 0 20px;
}

.all-search > input {
  width: 85% !important;
  margin: 0 0 8px 0;
  font-size: 14px;
}

.all-search > input:focus:not([readonly]) {
  border-bottom: 1px solid #039be5;
    box-shadow: 0 1px 0 0 #039be5;
}

.dropdown--dropdown_1 {
  border-radius: 80%;
  width: 60px;
  height: 60px;
}

.dropdown-content  {
  min-width: 300px;
}
/*???*/

.header--user .user--img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
