.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #039be5
}

a {
  color: black;
}

input[type=text] {
  width: 85%;
  margin: 0 0 8px 0;
  font-size: 14px;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #039be5;
    box-shadow: 0 1px 0 0 #039be5;
}

.dropdown_1 {
  border-radius: 80%;
  width: 60px;
  height: 60px;
}

.dropdown-content  {
  min-width: 300px;
}

.user123 {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
